.scanner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .result {
    text-align: center;
    margin-top: 20px;
  }

  #scanner-container {
    position: relative;
  }
  
  video {
    width: 100%;
  }
  
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  